<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>列表过滤 + 排序</title>
        <script src="js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <h2>列表过滤</h2>
            <input type="text" v-model="keyWord" />
            <button @click="sortType = 1">年龄升序</button>
            <button @click="sortType = 2">年龄降序</button>
            <button @click="sortType = 0">原顺序</button>
            <ul>
                <li v-for="(p, index) of filPersons" :key="p.id">{{p.name}} - {{p.age}} - {{p.sex}}</li>
            </ul>
        </div>
        <script>
            Vue.config.productionTip = false; // 阻止 vue 在启动是生成生产提示

            // 使用监视属性
            /* const vm = new Vue({
                el: "#root",
                data: {
                    keyWord: "",
                    persons: [
                        { id: "001", name: "马冬梅", age: 13, sex: "女" },
                        { id: "002", name: "周冬雨", age: 17, sex: "女" },
                        { id: "003", name: "周杰伦", age: 19, sex: "男" },
                        { id: "004", name: "温兆伦", age: 22, sex: "男" },
                    ],
                    filPersons: [],
                },

                watch: {
                    keyWord: {
                        immediate: true,
                        handler(val) {
                            this.filPersons = this.persons.filter((p) => {
                                return p.name.indexOf(val) !== -1;
                            });
                        },
                    },
                },
            }); */

            // 使用计算属性
            const vm = new Vue({
                el: "#root",
                data: {
                    keyWord: "",
                    persons: [
                        { id: "001", name: "马冬梅", age: 13, sex: "女" },
                        { id: "002", name: "周冬雨", age: 20, sex: "女" },
                        { id: "003", name: "周杰伦", age: 19, sex: "男" },
                        { id: "004", name: "温兆伦", age: 22, sex: "男" },
                    ],
                    sortType: 0,
                },

                computed: {
                    filPersons() {
                        const arr = this.persons.filter((p) => {
                            return p.name.indexOf(this.keyWord) !== -1;
                        });

                        if (this.sortType) {
                            arr.sort((p1, p2) => {
                                return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age;
                            });
                        }

                        return arr;
                    },
                },
            });
        </script>
    </body>
</html>
