
        .clock {
            /* width: 320px; */
            height: 110px;
            margin: 100px auto;

        }

        .clock div {
            float: left;
            margin: 5px 0 5px 5px;
            width: 100px;
            height: 100px;
            background-color: aquamarine;
            border: 5px solid rgb(14, 141, 99);
            border-radius: 10px;
            text-align: center;
        }

        span {
            line-height: 100px;
            font-size: 36px;
            color: #fff;
        }
    